* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor {
    display: flex;
    border: 10px solid black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

button {
    width: 120px;
    height: 30px;
    margin-bottom: 20px;
}

li {
    border: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    list-style: none;
    margin-bottom: 20px;
    width: 380px;
    height: 60px;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}